 
<style>

	body
	{
		margin:0px;
		overflow-x: hidden;
	}
 
	header
	{
		height:40px;
		border-bottom:1px solid black;
		display:flex;
	}
	
	header nav
	{
		width:90%;
		margin:auto;
		
		display:flex;
		justify-content:space-evenly;
	}
	
	header img
	{
		height:35px;
		border-radius:50%;
		margin-right:13px;
	}
	
	header nav a
	{
		color:black;
		text-decoration:none;
		font-size:20px;
		height:100%;
		
		transition:color 0.3s ease;
	}
	
	header nav a:hover
	{
		color:orange;
	}
 
 	

 	header input[type='checkbox']
 	{
 		display:none;
 	}
	
	header label
	{
		cursor:pointer;
		
	}

	header input[type='checkbox']:checked~#profilPaper
	{
		opacity:1;
	}

	header input[type='checkbox']:checked~label
	{
		transform: translateX(0px);	
	}
	

	.bubble 
	{
	    background: #cecdcb;
	    color: #FFFFFF;

	    border-radius: 10px;
	    padding: 0px;

		position:absolute;
		top:50px;
		right:10px;

		width:7%;
		height:8%;

		display:flex;
		flex-direction:column;

		opacity:0;
		transition:opacity 0.4s ease;
	}

	.bubble:after 
	{
	    content: '';
	    position: absolute;
	    display: block;

	    width: 0;
	    z-index: 1;
	    border-style: solid;
	    border-color: #cecdcb transparent;
	    border-width: 0px 13px 16px;
	    top: -16px;
	    left: 88%;
	    margin-left: -22px;
	}

	#profilPaper a
	{
		border-radius:11px;
		background-color:orange;
		border:0px;
		margin:5px;
		transition:background-color 0.4s ease;
		text-align:center;

		color:black;
		text-decoration:none;
	}

	#profilPaper a:hover
	{
		background-color:#ffcf01;
		cursor:pointer;
	}


	.paper
	{
		width:80%;
		height:20%;
		
		border-radius:5px;
		box-shadow:1px 1px 5px 2px grey;
		
		margin:auto;
		margin-bottom:3%;
	}
	
	.paper h1
	{
		text-align:center;
	}
	
	.paper p
	{
		text-align:justify;
		width:90%;
		margin:auto;
	}
	
	.auteur
	{
		color:grey;
		text-decoration:underline;
	}
	
	main form
	{
		display:flex;
		flex-direction:column;

		width:30%;
		margin:auto;
		margin-bottom:5%;
	} 

 </style>